/* The outer menu */
.region-navbar #nice-menu-1 {
	width: 750px;
    margin-top: 30px;
    margin-right: -15px;
    float: right;
    border: 0;
}

.region-navbar #nice-menu-1 li {
	float: left;
    margin-left: 10px;
    border-width: 0;
}

.region-navbar #nice-menu-1 li a,
span.nolink {
	background: #fff;
	padding: 10px 15px;
    border-radius: 4px;
    color: #3b6000;
    display: block;
    cursor: pointer;
}

.region-navbar #nice-menu-1 li a:hover,
span.nolink {
	text-decoration: none;
	border-width: 0 !important;
}

.region-navbar #nice-menu-1 li a.active,
.region-navbar #nice-menu-1 li.update-site a {
	background-color: #2a4401;
	color: #fff;
}

.region-navbar #nice-menu-1 li.update-site a {
	background: #fff;
    border-color: #2a4401;
    border-width: 1px;
    border-style: solid;
    color: #2a4401;
}

ul.nice-menu-down li.menuparent,
ul.nice-menu-down li.menuparent:hover
 {
	background: #fff;
}

.region-navbar #nice-menu-1 li.update-site a:hover {
	border-color: #2a4401 !important;
    border-width: 1px !important;
    border-style: solid !important;
}

/* The dropdown ul */
.region-navbar #nice-menu-1 li>ul {
	border-width: 0 !important;
	top: 38px;
	left: -10px;
}

.region-navbar #nice-menu-1 li>ul:hover {
	border-width: 0 !important;
}

.region-navbar #nice-menu-1 li>ul>li>a {
	border-radius: 0;
}

.region-navbar #nice-menu-1 li>ul>li>ul {
	top: 0;
	left: 12em;
}

/* Flags */
.flag-md {
	padding-top: 10px;
}

/* Search */
.search-bar {
	float: left;
}

/* Front page banner */
.front section#services.dark-green-background {
	background: url('../images/slider/slide1.jpg') scroll no-repeat center center;
	background-size: cover;
	height: 300px;
}

.front section#services.dark-green-background {
	padding-top: 25px;
}

.front section#services.dark-green-background .media {
	position: relative;
}

.front section#services.dark-green-background h3.media-heading {
	color: #2a4401;
	font-size: 36px;
	display: none;
}

.front section#services.dark-green-background .form-item {
	display: block;
}

.front section#services.dark-green-background input#edit-search-block-form--2 {
	padding: 15px;
    margin-top: 35px;
    border: 1px #fff solid;
    background: rgba(255,255,255, 0.2);
    border-radius: 4px;
    color: #fff;
    /*font-weight: bold;*/
    font-size: 22px;
}

.front section#services.dark-green-background input#edit-submit {
	    padding: 5px 20px;
    top: 49px;
    right: 0;
    border: 1px #fff solid;
    background: #fff;
    border-radius: 4px;
    color: #2A4401;
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    z-index: 100000;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
